/* *{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("https://img.freepik.com/free-vector/many-kids-climbing-up-rope_1308-2794.jpg?w=1380&t=st=1674035282~exp=1674035882~hmac=937f1389a5fef6945a1ba71c9bcc19d4056a4ef629356dd93d32513267280983");
    overflow: hidden;
 
} */